html 
{
    background-color: #aaa9a9; 
    padding:50px;
}

header
{
    background-color: #ad4848; 
    color:#ffffff; 
    padding: 5px; 
    text-align: center;
}
body 
{
    line-height: 1.6;
    margin: 0;
    padding: 0;
}


main
 {
    padding: 20px;
}
h1, h2, h
 {
    margin-top: 0;
}
ul {
    list-style-type: none;
    padding: 0;
}
li {
    margin-bottom: 10px;
}
p {
    margin: 0;
}
